body{
    background-color: #A7B19E !important;
}

/*-------Header Section--------*/

.header .navbar .logo h2{
    font-size: 2.5em !important;
    margin-left: 1vw;
    margin-top: 2.5vh;
    
}
.header .navbar .logo img{
    margin-top: 2vh;
    width: 12vw;
    height: 14vh;
    margin-left: 2.5vw;
}
.header .navbar .logo h2 span{
    color: white;
    text-shadow: 4px 4px 4px black;
}

.header .navbar .menu{
    width: 30vw;
    display: flex;
    justify-content: space-around !important;
    list-style: none;
}
.header .navbar .menu li a{
    text-decoration: none;
    color: white;
}

/*--------MAIN SECTION----------*/

.main-cointainer{
    display: grid;
    grid-template-columns: 12fr 6fr;
    align-items: center;
}
.main-cointainer .img img{
    width: 25vw;
    border-radius: 2em;
}

.contact-form{
    background-image: url(./pngtree-matrix-code-abstract-programming-background-image_908363.png) !important;
    height: 50vh;
    width: 30vw;
}


.header-form h2{
    color: white ;
    text-align: center;
}

.form-body {
    color: white !important;
}
.form-body input{
    color: white !important;
}
.form-body textarea{
    color: white !important;
}