body{
    background-color: #a7b19e !important;
}
.header{
    text-align: center;
}
.header h1{
    color: rgb(175, 14, 14);
    font-size: 1.8em;
}

.header img{
    width: 50vw;
    height: 55vh;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.cards{
    margin-top: 8vh;
}

.card-title{
    margin-top: 10vh;
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    gap: 5rem;
    margin-bottom: 8vh;
}
.card-title h2{
    font-size: 2em;
}

.body-card1{
    margin-left: 1em;
    background-color: #a5a5a5;
    border-radius: 2rem;
    width: 20vw;

}
.body-card1 .texto1{
    margin-top: 1.5em;
    margin-left: 1em;

}

.body-card2{
        margin-left: 1em;
            background-color: #a5a5a5;
            border-radius: 2rem;
            width: 20vw;
}

.body-card2 .texto2 {
    margin-top: 1.5em;
    margin-left: 1em;

}

.body-card3{
    margin-left: 1em;
        background-color: #a5a5a5;
        border-radius: 2rem;
        width: 20vw;
}

.body-card3 .texto3 {
    margin-top: 1.5em;
    margin-left: 1em;

}

.recetario{
    margin-top: 10vh;
}
.recetario .ingredientes h3{
    font-size: 1.2em;

}

/*Media Querys para Tablets*/
@media (min-width: 768px) and (max-width: 995px){
    .header{
        text-align: center;
        
    }
    .header img{
        width: 76vw;
        height: 55vh;
    }
        .card-title {
            
            display: grid;
            grid-template-columns: 3fr 3fr 3fr;
            
            gap: 1em;
        }
    
        .card-title h2 {
            font-size: 2em;
        }
    
        .body-card1 {
            margin-left: 0.5em;
            background-color: #a5a5a5;
            border-radius: 2rem;
            width: 25vw;
    
        }
    
        .body-card1 .texto1 {
            margin-top: 1.5em;
            margin-left: 1em;
    
        }
    
        .body-card2 {
          
            background-color: #a5a5a5;
            border-radius: 2rem;
            width: 25vw;
        }
    
        .body-card2 .texto2 {
            margin-top: 1.5em;
            margin-left: 1em;
    
        }
    
        .body-card3 {
            
            background-color: #a5a5a5;
            border-radius: 2rem;
            width: 25vw;
            margin-right: none;
        }
    
        .body-card3 .texto3 {
            margin-top: 1.5em;
            margin-left: 1em;
    
        }
}

@media (min-width: 310px) and (max-width: 767px){
    .header img{
    width: 85vw;
    height: 45vh;
    }
         .card-title {
    
             display: grid;
             grid-template-columns: 3fr 3fr 3fr;
    
             gap: 1em;
         }
    
         .card-title h2 {
             font-size: 2em;
         }
    
         .body-card1 {
             margin-left: 0.5em;
             background-color: #a5a5a5;
             border-radius: 2rem;
             width: 25vw;
    
         }
    
         .body-card1 .texto1 {
             margin-top: 1.5em;
             margin-left: 1em;
    
         }
    
         .body-card2 {
    
             background-color: #a5a5a5;
             border-radius: 2rem;
             width: 25vw;
         }
    
         .body-card2 .texto2 {
             margin-top: 1.5em;
             margin-left: 1em;
    
         }
    
         .body-card3 {
    
             background-color: #a5a5a5;
             border-radius: 2rem;
             width: 25vw;
             margin-right: none;
         }
    
         .body-card3 .texto3 {
             margin-top: 1.5em;
             margin-left: 1em;
    
         }
}