.col-3{
    width: 9vw !important; 
    height: 2.3vh !important;
}

/*COLOR DE FONDO*/
.nav1{
    height: 5.5vh !important;
    background-color: #AC2929;
}
.nav2{
    margin-top: 5.5vh !important;
}

/*BUSCADOR*/
.buscador{
    width: 35vw;
}

.form-control{
    border-top-right-radius: 3vw;
    border-bottom-right-radius: 3vw;
    height: 0.5vh;
}
input::placeholder{
    color: white !important;
}
.form-control textarea{
    color: white !important;
}




/*ICONOS NAVBAR*/
.input-group-text{
    height: 1vh;
}



.mensaje{
    margin-top: 15em ;
}

/*ICONOS DENTRO DE LOS ICONOS*/
.dropdown-menu {
    margin-left: -10vw; 
}

/* Alinear el ícono a la par del texto */
.dropdown-item {
    margin-right: 1vw; 
    vertical-align: middle; 
}


/*navbar2*/
.btn-close{
    position: absolute;
    left: 10px; 
    top: 10px;  
  }

.offcanvas{
    width: 13.5vw !important;
}

.boton-nag{
    border: none !important;
}

.btn-group{
    margin-left: 6vw !important;
}
.servi{
    font-size: larger !important;
}
.lista-servi{
    width: 17vw;
    height: 32vh;
}
.lista-servi a :hover{
    text-decoration: underline !important;
}
.lista-servi a{
    background-color: transparent !important;
}
.navegador-seg a :hover{
    text-decoration: underline !important;
}
.navegador-seg a{
    font-size: medium !important;
}
.new-menu:hover .menu-2 {
    display: block;
    
  }


