.col-3{
    width: 13vw !important; 
    height: 3.5vh !important;
}

/*COLOR DE FONDO*/
.navbar{
    height: 7.8vh !important;
    background-color: #AC2929;
}

/*BUSCADOR*/
.buscador{
    width: 35vw;
}

.form-control{
    border-top-right-radius: 3vw;
    border-bottom-right-radius: 3vw;
    height: 0.5vh;
}
input::placeholder{
    color: white !important;
}
.form-control textarea{
    color: white !important;
}




/*ICONOS NAVBAR*/
.input-group-text{
    height: 1vh;
}



.mensaje{
    margin-top: 15em ;
}

/*ICONOS DENTRO DE LOS ICONOS*/
.dropdown-menu {
    margin-left: -10vw; 
}

/* Alinear el ícono a la par del texto */
.dropdown-item {
    margin-right: 1vw; /* Espacio entre el ícono y el texto */
    vertical-align: middle; /* Alinea verticalmente con el texto */
}


/*navbar2*/
.btn-close{
    position: absolute;
    left: 10px; /* Cambia la posición izquierda */
    top: 10px;  /* Cambia la posición superior */
  }

.offcanvas{
    width: 20.5vw !important;
}





