.navbar{
    background-color: rgb(48, 48, 48);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.StyleLogo{
    color: white;
    margin-left: 2vw;
}
.NavLinks{
    margin-right: 5vw;
    display: flex;
    gap: 4rem;
    list-style: none;
    font-size: 1.5vw;
}
.NavLinks li{
    transition: 0.6s;
}
.NavLinks li:hover {
    font-size: 2vw;
    transition: 0.6s;
}



 